<%= flash_messages %>
<div class="block">
	<header class="header-group">
		<h2 align="center">Welcome to Work Location Cloud tracker.</h2>
	</header>
	<div class="row">
		<div class="col-md-12">
			<%=image_tag("logo.jpg", :align=> "middle")%>
		</div>
	</div>
</div>