<%= form_for(@uprofile) do |f| %>
  <% if @uprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uprofile.errors.count, "error") %> prohibited this Profile from being saved:</h2>
      <ul>
      <% @uprofile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :First_Name %><br>
    <%= f.text_field :firstname, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Last_Name %><br>
    <%= f.text_field :lastname, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Manager_Email %><br>
    <%= f.text_field :manageremail, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Leave_Balance %><br>
    <%= f.number_field :leavebalance, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Leave_Entitlement %><br>
    <%= f.number_field :leaveentitlement, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :User_ID %><br>
    <%= f.text_field :user_id, class: "form-control" %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit 'Create Profile', class: "btn btn-primary" %>
  </div>
<% end %>
<div class="card">
  <div class="card-block">
    <div id="map"></div>
  </div>
</div>