<%= form_with(model: uprofile, local: true) do |form| %>
  <% if uprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(uprofile.errors.count, "error") %> prohibited this uprofile from being saved:</h2>

      <ul>
      <% uprofile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :manageremail %>
    <%= form.text_field :manageremail %>
  </div>

  <div class="field">
    <%= form.label :leavebalance %>
    <%= form.number_field :leavebalance %>
  </div>

  <div class="field">
    <%= form.label :leaveentitlement %>
    <%= form.number_field :leaveentitlement %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
