<p id="notice"><%= notice %></p>

<h1>Uprofiles</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Manageremail</th>
      <th>Leavebalance</th>
      <th>Leaveentitlement</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uprofiles.each do |uprofile| %>
      <tr>
        <td><%= uprofile.firstname %></td>
        <td><%= uprofile.lastname %></td>
        <td><%= uprofile.manageremail %></td>
        <td><%= uprofile.leavebalance %></td>
        <td><%= uprofile.leaveentitlement %></td>
        <td><%= uprofile.user %></td>
        <td><%= link_to 'Show', uprofile %></td>
        <td><%= link_to 'Edit', edit_uprofile_path(uprofile) %></td>
        <td><%= link_to 'Destroy', uprofile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uprofile', new_uprofile_path %>
