<%= flash_messages %>
<h2>User Profile List</h2>

<div class="leaverequest-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-1">First_Name</th>
        <th class="col-md-1">Last_name</th>
        <th class="col-md-1">Manager_Email</th>
     <th class="col-md-4">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @uprofiles.each do |uprofile| %>
        <tr>
         <td class="col-md-1"><%= uprofile.firstname %></td>
         <td class="col-md-1"><%= uprofile.lastname %></td>
         <td class="col-md-1"><%= uprofile.manageremail %></td>
         <td class="col-md-4">
            <%= link_to 'Show', uprofile_path(uprofile), class: "btn btn-info" %>
            <%= link_to 'Update Profile', edit_uprofile_path(uprofile), class: "btn  btn-warning" %>
            <%= link_to 'Destroy', uprofile_path(uprofile), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
         </td>
     </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
