<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @uprofile.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @uprofile.lastname %>
</p>

<p>
  <strong>Manageremail:</strong>
  <%= @uprofile.manageremail %>
</p>

<p>
  <strong>Leavebalance:</strong>
  <%= @uprofile.leavebalance %>
</p>

<p>
  <strong>Leaveentitlement:</strong>
  <%= @uprofile.leaveentitlement %>
</p>

<p>
  <strong>User:</strong>
  <%= @uprofile.user %>
</p>

<%= link_to 'Edit', edit_uprofile_path(@uprofile) %> |
<%= link_to 'Back', uprofiles_path %>
