<%= form_with(model: clocked, local: true) do |form| %>
  <% if clocked.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clocked.errors.count, "error") %> prohibited this clocked from being saved:</h2>

      <ul>
      <% clocked.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hour %>
    <%= form.number_field :hour %>
  </div>

  <div class="field">
    <%= form.label :location_in %>
    <%= form.text_field :location_in %>
  </div>

  <div class="field">
    <%= form.label :location_out %>
    <%= form.text_field :location_out %>
  </div>

  <div class="field">
    <%= form.label :crddate %>
    <%= form.date_select :crddate %>
  </div>

  <div class="field">
    <%= form.label :crdtime %>
    <%= form.time_select :crdtime %>
  </div>
  
  <div class="field">
    <%= form.label :eddate %>
    <%= form.date_select :eddate %>
  </div>

  <div class="field">
    <%= form.label :edtime %>
    <%= form.time_select :edtime %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  
  <div class="field">
    <%= form.label :updatedt %>
    <%= form.datetime_select :updatedt %>
  </div>
  
  

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
