<%= flash_messages %>
<h2>Your Clock History</h2>

<div class="clocked-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-1">Hour</th>
        <th class="col-md-2">Date</th>
        <th class="col-md-1">Time In</th>
        <th class="col-md-1">Time Out</th>
        <th class="col-md-2">Address In</th>
        <th class="col-md-2">Address Out</th>
     <th class="col-md-6">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @clockeds.each do |clocked| %>
        <tr>
         <td class="col-md-1"><%= clocked.hour %></td>
         <td class="col-md-2"><%= clocked.crddate %></td>
         <td class="col-md-1"><%= clocked.crdtime.strftime("%I:%M %P") %></td>
         <td class="col-md-1"><%= clocked.updated_at.strftime("%I:%M %P") %></td>
         <td class="col-md-2"><%= clocked.address %></td>
         <td class="col-md-2"><%= clocked.address %></td>
         <td class="col-md-6">
            <%= link_to 'Show', clocked_path(clocked), class: "btn btn-info" %>
            <%= link_to 'Clock out', edit_clocked_path(clocked), class: "btn  btn-warning" %>
            <%= link_to 'Destroy', clocked_path(clocked), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
         </td>
     </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'New Clock', new_clocked_path, class: "btn btn-primary" %>