<h2>New Clock</h2>
<%= form_for(@clocked) do |f| %> 
<% if @clocked.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clocked.errors.count, "error") %> prohibited this clock from being saved:</h2>
      <ul>
      <% @clocked.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :location_in %><br>
    <%= f.text_field :location_in, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.hidden_field :longitude, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.hidden_field :latitude, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Address %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  </div>
   <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Date %><br>
    <%= f.date_select :crddate, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Time_In %><br>
    <%= f.time_select :crdtime, class: "form-control" %>
  </div>
  </div>
    <div class="row">
  <div class="form-group col-md-4">
    <%= f.hidden_field :edittimenw, class: "form-control" %>
  </div>
  </div>
 <div class="row">
  <div class="form-group col-md-4">
    <%= f.hidden_field :user_id, class: "form-control"  %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit "Clock In", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
