<%= flash_messages %>
<header><h1 class="display-4"><%= @clocked.user.try(:email) %></h1></header>

<p>Address: <%= @clocked.address %></p>
<p>Coordinates: <%= @clocked.latitude %> <%= @clocked.longitude %></p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@clocked.latitude},#{@clocked.longitude}&markers=#{@clocked.latitude},#{@clocked.longitude}&zoom=7&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded', alt: "#{@clocked.id} on the map"%>


<%= link_to "Back", clockeds_path, class: "btn btn-default" %>
