<%= flash_messages %>

<h2>List of Users</h2>

<div class="leaverequest-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-1">User Name</th>
        <th class="col-md-1">Email</th>
        <th class="col-md-1">Admin_(Y/N)</th>
        <th class="col-md-2">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
         <td class="col-md-1"><%= user.username %></td>
         <td class="col-md-1"><%= user.email %></td>
         <td class="col-md-1"><%= user.admin %></td>
          <td class="col-md-2">
            <%= link_to "Edit Sign Up", edit_user_registration_path, class: "btn  btn-warning" %>
            </td>
         </td>
     </tr>
      <% end %>
    </tbody>
  </table>
</div>
