<h2>Clock Out</h2>
<%= form_for(@clock) do |f| %> 
<% if @clock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clock.errors.count, "error") %> prohibited this clock from being saved:</h2>
      <ul>
      <% @clock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Hours %><br>
    <%= f.text_field :hours, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Clock_In %><br>
    <%= f.text_field :created_at, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Clock_Out %><br>
    <%= f.text_field :updated_at, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :geolocation_in %><br>
    <%= f.text_field :geolocation_in, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :geolocation_out %><br>
    <%= f.text_field :geolocation_out, class: "form-control" %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit "Clock Out", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>