<%= flash_messages %>
<h2>Your Clock History</h2>
<div class="clock-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Hours</th>
     <th class="col-md-2">GeolocationIn</th>
     <th class="col-md-4">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @clocks.each do |clock| %>
        <tr>
         <td class="col-md-2"><%= clock.hours %></td>
         <td class="col-md-2"><%= clock.geolocation_in %></td>
         <td class="col-md-4">
            <%= link_to 'Show', clock_path(clock), class: "btn btn-info" %>
            <%= link_to 'Edit', edit_clock_path(clock), class: "btn  btn-warning" %>
            <%= link_to 'Destroy', clock_path(clock), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
         </td>
     </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'New Clock', new_clock_path, class: "btn btn-primary" %>