<%= flash_messages %>
<header><h1 class="display-4"><%= @clock.user.try(:email) %></h1></header>

<p>Address: <%= @clock.address %></p>
<p>Coordinates: <%= @clock.latitude %> <%= @clock.longitude %></p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@clock.latitude},#{@clock.longitude}&markers=#{@clock.latitude},#{@clock.longitude}&zoom=7&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded', alt: "#{@clock.id} on the map"%>

<%= link_to 'Edit', edit_clock_path(@clock), class: "btn btn-warning" %>
<%= link_to "Back", clocks_path, class: "btn btn-default" %>