<%= form_with(model: leaverequest, local: true) do |form| %>
  <% if leaverequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leaverequest.errors.count, "error") %> prohibited this leaverequest from being saved:</h2>

      <ul>
      <% leaverequest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fromdate %>
    <%= form.date_select :fromdate %>
  </div>

  <div class="field">
    <%= form.label :todate %>
    <%= form.date_select :todate %>
  </div>
  
  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration %>
  </div>

  <div class="field">
    <%= form.label :lmanageremail %>
    <%= form.text_field :lmanageremail %>
  </div>

  <div class="field">
    <%= form.label :lleavebalance %>
    <%= form.number_field :lleavebalance %>
  </div>

  <div class="field">
    <%= form.label :lleaveentitlement %>
    <%= form.number_field :lleaveentitlement %>
  </div>
  
  <div class="field">
    <%= form.label :newbalance %>
    <%= form.number_field :newbalance %>
  </div>
  
  <div class="field">
    <%= form.label :uprofile_id %>
    <%= form.text_field :uprofile_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
