<%= form_for(@leaverequest) do |f| %>
  <% if @leaverequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leaverequest.errors.count, "error") %> prohibited this Leave Request from being saved:</h2>
      <ul>
      <% @leaverequest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :From_Date %><br>
    <%= f.date_select :fromdate, class: "form-control" %>
  </div>
  </div>
 <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :To_Date %><br>
    <%= f.date_select :todate, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Status %><br>
    <%= f.text_field :status, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Duration %><br>
    <%= f.number_field :duration, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Managers_Email %><br>
    <%= f.text_field :lmanageremail, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Leave_Balance %><br>
    <%= f.number_field :lleavebalance, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :Leave_Entitlement %><br>
    <%= f.hidden_field :lleaveentitlement, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.label :New_Balance %><br>
    <%= f.number_field :newbalance, class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-md-4">
    <%= f.hidden_field :uprofile_id, class: "form-control" %>
  </div>
  </div>
  

  <div class="actions">
    <%= f.submit "Update Leave Request", class: "btn btn-large btn-success" %>
  
  </div>
<% end %>
<div class="card">
  <div class="card-block">
    <div id="map"></div>
  </div>
</div>