<%= flash_messages %>
<h2>Your Leave Request History</h2>

<div class="leaverequest-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Date_Created</th>
        <th class="col-md-2">From</th>
        <th class="col-md-2">To</th>
        <th class="col-md-1">Duration</th>
     <th class="col-md-4">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @leaverequests.each do |leaverequest| %>
        <tr>
         <td class="col-md-2"><%= leaverequest.created_at %></td>
         <td class="col-md-2"><%= leaverequest.fromdate %></td>
         <td class="col-md-2"><%= leaverequest.todate %></td>
         <td class="col-md-1"><%= leaverequest.duration %></td>
         <td class="col-md-4">
            <%= link_to 'Show', leaverequest_path(leaverequest), class: "btn btn-info" %>
            <%= link_to 'Edit', edit_leaverequest_path(leaverequest), class: "btn  btn-warning" %>
            <%= link_to 'Destroy', leaverequest_path(leaverequest), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
         </td>
     </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
