<p id="notice"><%= notice %></p>

<h1>Uprofiles</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Duration</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leaverequests.each do |leaverequest| %>
      <tr>
        <td><%= leaverequest.fromdate %></td>
        <td><%= leaverequest.todate %></td>
        <td><%= leaverequest.duration %></td>
        <td><%= leaverequest.uprofile_id %></td>
        <td><%= link_to 'Show', leaverequest %></td>
        <td><%= link_to 'Edit', edit_leaverequest_path(uprofile) %></td>
        <td><%= link_to 'Destroy', leaverequest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New leave Request', new_leaverequest_path %>