<p id="notice"><%= notice %></p>

<p>
  <strong>Fromdate:</strong>
  <%= @leaverequest.fromdate %>
</p>

<p>
  <strong>Todate:</strong>
  <%= @leaverequest.todate %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @leaverequest.duration %>
</p>

<p>
  <strong>Status:</strong>
  <%= @leaverequest.status %>
</p>

<p>
  <strong>Lmanageremail:</strong>
  <%= @leaverequest.lmanageremail %>
</p>

<p>
  <strong>Lleavebalance:</strong>
  <%= @leaverequest.lleavebalance %>
</p>

<p>
  <strong>Lleaveentitlement:</strong>
  <%= @leaverequest.lleaveentitlement %>
</p>

<p>
  <strong>Uprofile:</strong>
  <%= @leaverequest.uprofile %>
</p>

<%= link_to 'Edit', edit_leaverequest_path(@leaverequest) %> |
<%= link_to 'Back', leaverequests_path %>
